@import './utils/variables';
@import './utils/mexim';
@import './utils/placeholder';
@import './components/basse';
@import './components/page-header';
@import './components/logo';
@import './components/mobil_menu';
@import './components/nav';
@import './components/navcontact';
// @import './components/hero';
// @import './components/modal';
// @import './components/form';
// @import './components/task';
// @import './components/direction';
// @import './components/expert';
// @import './components/partners';
// @import './components/footer';
// @import './components/portfolio_page_button';
// @import './components/card_portfolio';
