.card {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.card-item {
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.main-card {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.card-container {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio .title {
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  white-space: nowrap;
}
.product-card {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  top: 0px;
  display: flex;
  margin: 0px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $different-text-color;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;

  transform: translateY(100%);
  @include transitionTime(transform);
  .main-card:hover &,
  .main-card:focus & {
    transform: translateY(0%);
  }
}
.category {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.88;
}
