/* Команда */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $different-bg-color;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & .section-title {
    margin: 0;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &-container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  .expert {
    display: block;
    padding-bottom: 24px;
    background-color: $nav-bg-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      margin-right: 0px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 120px) / 4);
    }
  }
}
.name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.position {
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-item .link {
  @include centeredFlex(flex);
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  @include transitionTime(background-color);
  @include transitionTime(fill);

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: $accent-color;
  }
}
