.form {
  width: 100%;

  &-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    @media screen and(min-width: 1200px) {
      line-height: 1.15;
    }
  }

  &-field {
    position: relative;
    display: block;
    margin-bottom: 28px;
  }

  &-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    line-height: 1.14;
    letter-spacing: 0.01em;

    @include transitionTime(transform);
  }
  &-input {
    width: 100%;
    margin: 0;
    padding: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  &-icon {
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translateY(-50%);

    display: inline-block;
    width: 18px;
    height: 18px;
  }
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px) translateX(-26px);
  color: $accent-color;
}

.comment-field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.comment-label {
  position: absolute;
  top: 12px;
  left: 16px;
  transform: translateY(0%);

  @include transitionTime(transform);
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.comment-field:focus-within > .comment-label,
.form-comment:not(:placeholder-shown) + .comment-label {
  transform: translateY(-30px);
  color: $accent-color;
}

.accord {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}

.form-comment {
  margin-bottom: 0px;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.checkbox {
  @extend %visually-hidden;
  &-icon {
    display: inline-block;
    margin: 0 3px 0 0;
    border: 1px solid $title-text-color;
    @include transitionTime(transform);
    @media screen and (min-width: 1200px) {
      margin: 0 8px 0 0;
    }
  }

  &:checked + &-icon {
    border-color: transparent;
    background-color: $accent-bg-color;

    background-size: contain;
    background-origin: border-box;
  }
}
.contract {
  color: $accent-color;
}

.button-submit {
  display: block;
  margin-top: 30px;

  margin-right: auto;
  margin-left: auto;

  padding: 10px 56px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $different-text-color;
  background-color: $accent-bg-color;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}
