/* основной цвет текста   #757575 */
/* вторичний цвет текста  #212121 */
/* основной цвет заливки  #E5E5E5 */
/* вторичний цвет заливки #F5F4FA */
/* белий (different) #FFFFFF */
/* акцент #2196F3 */
/* фон подписи изображения rgba(47, 48, 58, 0.8) */
/* фон футера #2F303A */
/* вторичний цвет текста футера rgba(255, 255, 255, 0.6) */
/* подпись страницы rgba(255, 255, 255, 0.4) */

$logo-web-color: #2196f3;
$logo-studio-color: #000000;
$nav-bg-color: #ffffff;
$logo-footer-color: #ffffff;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$different-text-color: #ffffff;
$primary-bg-color: #e5e5e5;
$different-bg-color: #f5f4fa;
$image-bg-color: rgba(47, 48, 58, 0.8);
$footer-bg-color: #2f303a;
$accent-bg-color: #2196f3;
$card-bg-color: #ffffff;
$font-family: Roboto, sans-serif;
