/* Футер */
.footer {
  color: $different-text-color;
  background-color: $footer-bg-color;
}

.container-footer {
  display: flex;
  padding-top: 60px;
  align-items: baseline;
  justify-content: space-between;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address-logo {
  margin-right: 69px;
}

.address-footer {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
}

.contact-footer {
  display: block;
  margin-bottom: 9px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.icon-footer {
  display: flex;
  margin-top: 20px;
}
.social-network .link {
  @include centeredFlex(flex);
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  @include transitionTime(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer-form {
  display: flex;
}
.footer-field {
  position: relative;

  background-color: $footer-bg-color;
}
.footer-input {
  height: 50px;
  width: 358px;

  background-color: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  @include transitionTime(transform);
  color: rgba(255, 255, 255, 0.6);
}
.footer-field:focus-within > .footer-label,
.footer-input:not(:placeholder-shown) + .footer-label {
  transform: translateY(-50%) translateX(-65px);
}

.button-footer {
  @include centeredFlex(flex);

  margin-left: 12px;
  padding: 10px 29px;
  min-width: 200px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $different-text-color;
  background-color: $accent-bg-color;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.button-icon {
  margin-left: 10px;
}
