.logo {
  color: $logo-web-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;

  &-studio {
    color: $logo-studio-color;
  }
  &-footer {
    color: $logo-footer-color;
  }
}
