.address {
  display: flex;
  margin-left: auto;

  & .contact + .contact {
    margin-left: 30px;
  }
}

// .contact {
//   @include centeredFlex(flex);

//   color: $primary-text-color;

//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   text-decoration: none;

//   @include transitionTime(color);
// }
