/* Клиенты */
.partners {
  padding-top: 94px;
  padding-bottom: 94px;

  & .section-title {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.icon {
  display: flex;
  min-height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  @include transitionTime(border);
  @include transitionTime(fill);

  &-logo {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  &:hover,
  &:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
}
.partners-item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;

  &:nth-child(6n) {
    margin-right: 0px;
  }
}
